body{
   
    margin: 1.5em;
    font-family: 'League Spartan', sans-serif;
    background: url('../images/cat1.jpg');
    background-size: cover;
    background-position-x:0%;
    background-position-y:10%;
    background-repeat: no-repeat;
    background-color: black;
    
}
a{
    text-decoration: none;
    font-size: 1.3rem;
}
.hero-img{
    position:absolute;
    margin-left: 0.5em;
    margin-top: 0.5em;
    margin-right: 0.5em;
    top: 0;
    left: 0;
    right:0;
    
    
    width: 100%;
    height: 100vh;
    z-index: -1;
    animation: introload 2.5s backwards;
}

.logo{
    color: white;
    font-weight: bold;
    margin-top: -2em;

    
}

.logo span{
    color: rgb(224, 224, 47);
}
.img 
    {
        width:6%;
        margin-top: 2.3em;
        margin-bottom: -0.2em;
        top: 0em;
    }

nav{
    position: fixed;
    right: -.25em;
    top:-.50em;
    background: rgb(51, 51, 51);
    height:100vh;
    width: 50%;
    z-index: 999;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;

    ul{
        list-style-type: none;
        padding: 0;
        margin-top: 5em;
        right:4em;
        a{
            color:rgb(224, 224, 47);
            padding: .2em 2.4em;
            display: block;
            
            &:hover{
                background:rgba(176, 180, 40, 0.416);
            }
        }
    
    }
    img{

        float: right;
        margin: 2em;
        width: 2em;

    }
}

header{
    display:flex;
    justify-content: space-between;

    svg{
        width: 2em;
        margin-top: -.25em;
        margin-right: .55em;
    }
}

h1{
    font-size: 3rem;
    margin-top: 1em;
    line-height: 3.3rem;
}

.subhead{
    font-size: 1.4rem;
}

.feature{
    color: aliceblue;
    width: 100%;
    margin-left: 0.5em;
    margin-top: -18em;
    animation: movein 4.7s ease-in forwards;
    opacity:0;

}
.feature.food{
    color: aliceblue;
    width: 100%;
    margin-left: 0.5em;
    margin-top: 0em;
    
    animation: movein 4.7s ease-in forwards;
    opacity:0;
    .content{
        text-align: left;
         width: 25em;
         margin-top: 18em;
    }
}

.feature.left{
    margin-right: -2em;
    float:right;
    margin-top: 3em;
    margin-bottom: 18em;
    animation: movecrow 4.7s ease-in forwards;
    opacity:0;
}

section.hero{ 
    color: white;
    height: 95vh;
    animation: movedown 1.3s ease-in-out forwards;
    opacity:0;
}

.more-info{
    img{
        width: 100%;
        object-fit: cover;
        height: 11em;
    }
}

.open-nav{
    transform: translateX(0)
}    
@media only screen and (min-width:980px) {
    .hammenu{
        display: none;
    }


    nav{
        transform: translateX(0);
        position: unset;
        display: block;
        width: 100%;
        margin-left: 50em;
        height: auto;
        
        
        
        background: none; 
    img{
        display: none;
    }
    
    ul{
        display: flex;
        margin-top: 3.5em;

        a{
            color:white;
            padding:.5em 1.5em;
            font-size: .9rem;

            &:hover{
                background:none;
                text-decoration:underline;
                
            } 
        }
    }
    .close{
        float: right;
        margin:2em;
        width:1.5em;
    }
 
}
 .hero-img{
     
     right: 0;
     top: -3em;
     left: 1em;
     
     width:100%;
     height: 21em;
 }
 .logo{
     margin-top: 2.4em;
     margin-right: 1em;
     margin-left: -0.8em;
     color: white;
     
     
 }
 .span{
    color: rgb(224, 224, 47)
    
}
 .img{
     width: 34.42%;
     margin-left: 4em;
     margin-top: -2.5em;
     margin-bottom: 4em;
 }

 section.hero{
     color:rgb(255, 255, 255);
     height: auto;
     width:100%;
     margin-bottom: 8em;

 }

 .feature{
     position: relative;
     motion-offset: 6em;
     
     display: grid;
     grid-template-columns: repeat(2,auto);
     gap:3em;
     margin-bottom: 8em;
     margin-top: 28em;

     img{
         width: 25em;
     }
     .content{
         text-align: right;
         width: 25em;
     }

 }
 .feature.food{
    position: relative;
    motion-offset: 6em;
    
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap:3em;
    margin-bottom: 8em;
    margin-top: 28em;

    img{
        width: 25em;
    }
    .content{
        text-align: right;
        width: 25em;
    }

}
 
 .feature.left{
     margin-bottom: 10em;
     grid-template-areas:"left right" ;
     img{
         grid-area: left;
     }
     .content{
         text-align: left;
         width: 25em;
     }
 }
    
}

@keyframes introload{
    from{
        clip-path: polygon(0 0,100% 0, 100% 0, 0 0);
    }
    to{
        clip-path: polygon(0 0,100% 0, 100% 100%, 0 100%); 
    }

}

@keyframes movedown{
    from{
        transform: translateY(-100px);
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes movein{
    from{
        transform: translateX(-150px);
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes movecrow{
    from{
        transform: translateX(150px);
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}